*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: rgba(0,0,0,0.8);
}

.hero{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box{
  width: 20px;
  height: 20px;
  display: flex;
  margin: 6px;
  box-shadow: 0 0 2px #000;
  color: #fff;
  animation: 800ms fade ease-in-out;
}

.box p {
  margin: auto;
  font-size: 3px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}